.container{
    background-image: '/images/LOGOPORTAL.png' !important ;
    /* background-color: red; */
    height: 100%;
    width: 100% !important;
    padding: 0px;
}
.navbar_chat{
    height: 10% !important;
    width: 100% !important;
    padding: 10px !important;
    display: flex;
}
.navbar_content{
    display: flex;
    margin: 10px;
    padding: 50px !important;
    padding-top: 2%;
    margin-left: 10px;
    
}

.box-container{
    background-size: 100% 100% !important
}

.textField{
  border: none !important;
    color: white !important;
    width: 97%;
    font-weight: 'normal';
    border-bottom: none;
    text-decoration-color: white;
   /* background-color: aqua; */

}
.textField2{
    border: none !important;
      color: black !important;
      width: 97%;
      font-weight: 'normal';
      border-bottom: none;
      text-decoration-color: black;
      cursor: pointer !important;
  }

.MuiInputBase-input.Mui-disabled {
    opacity: 1;
    -webkit-text-fill-color: white !important;
  }
  
