* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* This is a reset. Be careful, as it removes all margins and paddings. You'll need to re-apply them as needed. */
  }
  
.container{
    background-image: '/images/LOGOPORTAL.png' !important ;
    /* background-color: red; */
    height: 10%;
    width: 100% !important;
    padding: 0px;
}
.navbar_chat{
    height: 10% !important;
    width: 100% !important;
    display: flex;
}
.navbar_content{
    display: flex;
    padding-top: 2%;
    margin-left: 10px;
    
}
.notificationBox {

    min-height: 420px;
    flex: 1 1 48%; /* Allows boxes to grow and shrink but with a base width of 48% */
    max-height: 420px;
    overflow-y: auto; 
  }
  .activeMessageBox {
    min-height: 420px;
    flex: 1 1 48%; /* Allows boxes to grow and shrink but with a base width of 48% */
    max-height: 420px;
    overflow-y: auto; 
  }
  .stadisticsBox {
    /* grid-area: stadisticsBox; */
  }
  
.containerBoxes{
    width: 100% !important;
    height:'auto';
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    justify-content: space-between; /* Distributes space between and around content items */
    align-items: flex-start; /* Aligns items to the start of the container */
}
.containerBoxes > :nth-child(3) {
  flex-basis: 100%; /* Makes the third box take full width */
}
@media (max-width:768px) {
    .notificationBox {
        grid-area: notificationBox;
        max-height: 150px;
        min-height: 250px;
      }
      .activeMessageBox {
        grid-area: activeMessageBox;
        max-height: 150px;
        min-height: 250px;
      }
      .stadisticsBox {
        grid-area: stadisticsBox;
      }
    .containerBoxes{
        width: 100% !important;
        height:'auto';
        display: grid;
        gap: 0px; 
        grid-template-rows: auto auto;
        grid-template-areas: 
        "notificationBox notificationBox"
        "activeMessageBox activeMessageBox"
        /* "stadisticsBox stadisticsBox" */
    }

}

